/*direito */
.Posicao-titulo_direito {
    position: relative;
    left: -29px;
    top: -29px;
    width: 90px;;

}

.Posicao-Paragrafo_direito {
  position: relative;
  left: -105px;
  top: -11px;
  width: 261px;
}

.Posicao-2paragrafo_direito {
  position: relative;
  left: -31px;
  top: 6px;
  
}




/* Esquerdo*/

.Posicao-titulo_Esquerdo {
  position: relative;
  right: -77px;
  top: -29px;
  width: 90px;

}

.Posicao-Paragrafo_Esquerdo {
  position: relative;
  right: 6px;
  top: -17px;
  width: 261px;
}



.Posicao-2paragrafo_Esquerdo {
    position: relative;
    right: -61px;
    top: 6px;
  
}


/*

.Projetos-principais {
  position: relative;
}
*/

/* Animação vindo da esquerda */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animação vindo da direita */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Estado inicial */
.slide-in-left, .slide-in-right, .slide-in-left_p, .slide-in-left_p2, .slide-in-right_p, .slide-in-right_p2{
  opacity: 0;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

/* Quando ativar */
.slide-in-left.active {
  animation: slideInLeft 0.8s ease-out forwards;
}

.slide-in-right.active {
  animation: slideInRight 0.8s ease-out forwards;
}

.slide-in-left_p.active {
animation: slideInRight 1s ease-out forwards;
}


.slide-in-left_p2.active {
animation: slideInRight 1.2s ease-out forwards;
}


.slide-in-right_p.active {
animation: slideInLeft 1s ease-out forwards;
}

.slide-in-right_p2.active {
animation: slideInLeft 1.2s ease-out forwards;
}


