

@media (min-width: 600px) {
    section#principais-projetos h3 {
        font-size: 1.5em;
    }

    .Posicao-Paragrafo_direito {
        width: 338px;

    }

    .Posicao-titulo_Esquerdo {
        right: 40px;

    }

    .Posicao-Paragrafo_Esquerdo {
        width: 338px;

    }

    section#principais-projetos p {
        font-size: 1em;

    }
    .Posição-da-area-tec_esquerdo {
        top: 253px;
        right: -72px;
        width: 230px;
    }

    .Posicao-2paragrafo_Esquerdo {
        right: -25px;
        top: 229px;



    }
    div.Projetos-principais {
        height: 454px;

    }

    .image {
        height: 100%;

    }

    div.bordar-solta-esquerda{
        height: 414px;
    }

    div.bordar-solta-direita{
        height: 414px;
    }

}



@media (min-width: 769px) {

    header {
        padding: 7px;
        height: 75px;
        justify-content: flex-end

    }

    nav {
        position: sticky;
        height: 100%;
        border-radius: 0;
        width: 98%;
    }
    ul {
        width: 100%;
        height: 100%;
        flex-direction: row;
        background-color: #0e1c3600;
    
    }


    a > li {
        color: #313a5c;
        border-radius: 0;
        font-weight: 600;
    }


    li {
        padding: 0 22px 0 22px;
        font-size: 1.2em;
        transition: border-color 0.3s ease;
        border-bottom: solid 2px transparent;
    }

    li.hover:hover {
        background-color: #0e1c3600;
        transition: .4s;
        border-bottom: solid 2px rgb(75, 75, 75);
    }

    .li-ex {
        display: none;
    }


    #sobre-mim p {
    font-size: 1.3em;
    }
    
    section#principais-projetos > h2 {
        font-size: 1.7em;
    }


    .Posicao-titulo_Esquerdo {
        top: 113px;
        right: 38px;

    }


    .Posicao-Paragrafo_Esquerdo {
        top: 151px;

    }


    .Posicao-2paragrafo_Esquerdo {
        top: 282px;
        right: -30px;
    }


    .Posição-da-area-tec_esquerdo {
        top: 307px;
        right: -71px;
    }


    div.Projetos-principais {
        height: 514px;

    }

     div.bordar-solta-esquerda {
        height: 474px;
        top: 58px;
        left: 35px;
    }

    div.bordar-solta-direita {
        height: 474px;
        top: -7px;
        right: 35px;
    }

}



@media (min-width: 1025px) {
    ul {
        width: 900px;
        height: 100%;
        margin-left: auto;
        flex-direction: row;
        background-color: #0e1c3600;
    
    }

    li {
        
    justify-content: space-around;

    }


    section#principais-projetos > h2 {
        font-size: 2.1em;
    }
    
    div.Projetos-principais {
        height: 514px;
        margin: 114px 0;

    }
    

    .Posicao-titulo_direito {
        width: 103px;
    }

    .Posicao-titulo_Esquerdo {
        width: 103px;
    }

    .Posicao-Paragrafo_direito {
        width: 422px;
    }

    .Posicao-Paragrafo_Esquerdo {
        width: 422px;
    }

    section#principais-projetos p {
        font-size: 1.25em;
    }


    section#principais-projetos h3 {
        font-size: 1.9em;
        width: 429px;
    
    }

    .Posicao-titulo_Esquerdo {
        top: 102px;
        right: 97px;
    }

    .Posicao-Paragrafo_Esquerdo {
        top: 148px;
    
    }

    .Posicao-2paragrafo_Esquerdo {
        right: 1px;
        top: 310px;
    }

    .Posição-da-area-tec_esquerdo {
        top: 340px;
        right: -39px;
        width: 275px;
    }

    .Posição-da-area-tec_direito {
        width: 275px;
    }

  
}


@media (min-width: 1280px) {
    div.Projetos-principais {
        height: 615px;
    }

    .image {
        width: 695px;
    }


    .image-esquerda {
        left: 70px;
    }

    .image-direita {
        right: 70px;
    }

    div.bordar-solta-esquerda{
        width: 695px;
        height: 575px;
    }

    div.bordar-solta-direita{
        width: 695px;
        height: 575px;
    }
}

